/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box
}

;

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.flow-content>*+* {
  /* more on 'lobotomized owl selector' https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
  margin-top: 1rem;
}

/* or */

.flow-content>* {
  margin-bottom: 1rem;
}

.flow-content>*:last-child {
  margin-bottom: 0;
}


/* END RESET */

:root {
  --clr-fg: black;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-fg: #AAA;

    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: (var(--clr-fg));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.required {
  color: red;
}